@page "/"
@using Pheidi.Blazor.Shared 

<div class="row mt-4">
    <div class="col-8">
        <h5><i class="fas fa-cogs"></i> Settings</h5>


        <table class="table table-sm bg-white border week-settings-table">
            <tr>
                <th></th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
                <th></th>
            </tr>
            <tbody>
                <tr>
                    <td></td>

                    <td><ActivitySelect DayConfig="trainingPlan.DayConfigs[0]" DayNumber="0" OnActivityChanged="OnActivityChanged" /></td>
                    <td><ActivitySelect DayConfig="trainingPlan.DayConfigs[1]" DayNumber="1" OnActivityChanged="OnActivityChanged" /></td>
                    <td><ActivitySelect DayConfig="trainingPlan.DayConfigs[2]" DayNumber="2" OnActivityChanged="OnActivityChanged" /></td>
                    <td><ActivitySelect DayConfig="trainingPlan.DayConfigs[3]" DayNumber="3" OnActivityChanged="OnActivityChanged" /></td>
                    <td><ActivitySelect DayConfig="trainingPlan.DayConfigs[4]" DayNumber="4" OnActivityChanged="OnActivityChanged" /></td>
                    <td><ActivitySelect DayConfig="trainingPlan.DayConfigs[5]" DayNumber="5" OnActivityChanged="OnActivityChanged" /></td>
                    <td><ActivitySelect DayConfig="trainingPlan.DayConfigs[6]" DayNumber="6" OnActivityChanged="OnActivityChanged" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>

                    <td><EffortSelect DayConfig="trainingPlan.DayConfigs[0]" DayNumber="0" OnEffortChanged="OnEffortSelectChanged" /></td>
                    <td><EffortSelect DayConfig="trainingPlan.DayConfigs[1]" DayNumber="1" OnEffortChanged="OnEffortSelectChanged" /></td>
                    <td><EffortSelect DayConfig="trainingPlan.DayConfigs[2]" DayNumber="2" OnEffortChanged="OnEffortSelectChanged" /></td>
                    <td><EffortSelect DayConfig="trainingPlan.DayConfigs[3]" DayNumber="3" OnEffortChanged="OnEffortSelectChanged" /></td>
                    <td><EffortSelect DayConfig="trainingPlan.DayConfigs[4]" DayNumber="4" OnEffortChanged="OnEffortSelectChanged" /></td>
                    <td><EffortSelect DayConfig="trainingPlan.DayConfigs[5]" DayNumber="5" OnEffortChanged="OnEffortSelectChanged" /></td>
                    <td><EffortSelect DayConfig="trainingPlan.DayConfigs[6]" DayNumber="6" OnEffortChanged="OnEffortSelectChanged" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>

                    <td><DistanceSelect DayConfig="trainingPlan.DayConfigs[0]" DayNumber="0" OnDistanceChanged="OnDistanceTypeChanged" /></td>
                    <td><DistanceSelect DayConfig="trainingPlan.DayConfigs[1]" DayNumber="1" OnDistanceChanged="OnDistanceTypeChanged" /></td>
                    <td><DistanceSelect DayConfig="trainingPlan.DayConfigs[2]" DayNumber="2" OnDistanceChanged="OnDistanceTypeChanged" /></td>
                    <td><DistanceSelect DayConfig="trainingPlan.DayConfigs[3]" DayNumber="3" OnDistanceChanged="OnDistanceTypeChanged" /></td>
                    <td><DistanceSelect DayConfig="trainingPlan.DayConfigs[4]" DayNumber="4" OnDistanceChanged="OnDistanceTypeChanged" /></td>
                    <td><DistanceSelect DayConfig="trainingPlan.DayConfigs[5]" DayNumber="5" OnDistanceChanged="OnDistanceTypeChanged" /></td>
                    <td><DistanceSelect DayConfig="trainingPlan.DayConfigs[6]" DayNumber="6" OnDistanceChanged="OnDistanceTypeChanged" /></td>
                    <td></td>

                </tr>
            </tbody>
        </table>

        <h5><i class="fas fa-scroll"></i> Training Plan</h5>


        <table class="table table-sm bg-white border activity-table">

            <tr>
                <th>Week</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
                <th></th>
            </tr>
            <tbody>
                @foreach (var week in trainingPlan.Weeks)
                {

                    <tr>
                        <td>@week.WeekNumber</td>
                        <td>
                            <DaySummary DayConfig="trainingPlan.DayConfigs[0]" Week="week" />
                        </td>
                        <td>
                            <DaySummary DayConfig="trainingPlan.DayConfigs[1]" Week="week" />
                        </td>
                        <td>
                            <DaySummary DayConfig="trainingPlan.DayConfigs[2]" Week="week" />
                        </td>
                        <td>
                            <DaySummary DayConfig="trainingPlan.DayConfigs[3]" Week="week" />
                        </td>
                        <td>
                            <DaySummary DayConfig="trainingPlan.DayConfigs[4]" Week="week" />
                        </td>
                        <td>
                            <DaySummary DayConfig="trainingPlan.DayConfigs[5]" Week="week" />
                        </td>
                        <td>
                            <DaySummary DayConfig="trainingPlan.DayConfigs[6]" Week="week" />
                        </td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
  
    <div class="col-4">
        <h5><i class="fas fa-info-circle"></i> Stats</h5>
        <table class="table table-sm bg-white border rounded">
            <tr>
                <td>  Runs > 16: </td>
                <td>@trainingPlan.PlanMetrics.RunsOver16</td>
            </tr>
            <tr>
                <td>  Runs > 20: </td>
                <td>@trainingPlan.PlanMetrics.RunsOver20</td>
            </tr>
            <tr>
                <td> Miles > 16</td>
                <td>@trainingPlan.PlanMetrics.MilesOver16</td>
            </tr>
        </table>


        <input @bind="@trainingPlan.LongRunMaxDistance" @bind:event="oninput" />
        @trainingPlan.LongRunMaxDistance
    </div>
</div>


@code {

    private TrainingPlan trainingPlan;

    protected override async Task OnInitializedAsync()
    {

        trainingPlan = new TrainingPlan();

        trainingPlan.Generate();
    }

    void OnActivityChanged(ActivitySelectChangedArgs args)
    {
        trainingPlan.DayConfigs[args.DayNumber].Activity = args.Activity;
    }

    void OnEffortSelectChanged(EffortSelectChangedArgs args)
    {
        trainingPlan.DayConfigs[args.DayNumber].EffortType = args.EffortType;
    }

    void OnDistanceTypeChanged(DistanceSelectChangedArgs args)
    {
        trainingPlan.DayConfigs[args.DayNumber].DistanceType = args.DistanceType;
    }
}
