<div class="dropdown">
    <button class="btn btn-type dropdown-toggle border" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @DayConfig.Activity.ToString()
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" @onclick="@(() => ChangeActivity(Pheidi.Common.Activity.Rest))"><i class="fas fa-bed fa-fw"></i>REST</a>
        <a class="dropdown-item" @onclick="@(() => ChangeActivity(Pheidi.Common.Activity.Run))"><i class="fas fa-running fa-fw"></i>RUN</a>
        <a class="dropdown-item" @onclick="@(() => ChangeActivity(Pheidi.Common.Activity.Sprint))"><i class="fas fa-tachometer-alt fa-fw"></i>SPRINT</a>
        <a class="dropdown-item" @onclick="@(() => ChangeActivity(Pheidi.Common.Activity.Cross))"><i class="fas fa-times fa-fw"></i>CROSS</a>
        <a class="dropdown-item" @onclick="@(() => ChangeActivity(Pheidi.Common.Activity.Strength))"><i class="fas fa-dumbbell fa-fw"></i>STRENGTH</a>
        <a class="dropdown-item" @onclick="@(() => ChangeActivity(Pheidi.Common.Activity.Fartlek))"><i class="fas fa-chart-line fa-fw"></i>FARTLEK</a>        
    </div>
</div>




@code {   

    [Parameter]
    public int DayNumber { get; set; }

    [Parameter]
    public DayConfig DayConfig { get; set; }

    [ParameterAttribute]
    public EventCallback<ActivitySelectChangedArgs> OnActivityChanged { get; set; }

    void ChangeActivity(Pheidi.Common.Activity activity)
    {
        OnActivityChanged.InvokeAsync(new ActivitySelectChangedArgs(DayNumber, activity));
    }
}
