<div class="btn-group">


    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-type dropdown-toggle border">
        @Pheidi.Blazor.Shared.IconMapping.DistanceType[DayConfig.DistanceType].Name
    </button>

    <div class="dropdown-menu">
        <a @onclick="@(() => ChangeRunDistance(Pheidi.Common.DistanceType.Long))" class="dropdown-item">L</a>
        <a @onclick="@(() => ChangeRunDistance(Pheidi.Common.DistanceType.Half))" class="dropdown-item">½ L</a>
        <a @onclick="@(() => ChangeRunDistance(Pheidi.Common.DistanceType.Quarter))" class="dropdown-item">¼ L</a>
        <a @onclick="@(() => ChangeRunDistance(Pheidi.Common.DistanceType.QuarterUp))" class="dropdown-item">¼ L<i class="fas fa-angle-up"></i></a>
        <a @onclick="@(() => ChangeRunDistance(Pheidi.Common.DistanceType.None))" class="dropdown-item">-</a>
    </div>
</div>

@code {
    [Parameter]
    public int DayNumber { get; set; }

    [Parameter]
    public DayConfig DayConfig { get; set; }

    [ParameterAttribute]
    public EventCallback<DistanceSelectChangedArgs> OnDistanceChanged { get; set; }

    void ChangeRunDistance(Pheidi.Common.DistanceType runDistance)
    {
        OnDistanceChanged.InvokeAsync(new DistanceSelectChangedArgs(DayNumber, runDistance));
    }
}
